@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

@font-face {
    font-family: "Bodoni";
    src: url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');
}

:root {
    /*Colors*/
    --color1: #FF5457;
    --color2: #FF070A;
    --color3: #CC0609;
    --color4: #800406;
    --color5: #802A2B;
    --color6: black;
    --color7: white;

    /*Fonts*/
    --font1: "Bodoni";
    --font2: ;
}