* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

:root {
    /*Colors*/
    --color1: #853D3F;
    --color2: #FFA8AB;
    --color3: #D17578;
    --color4: #308546;
    --color5: #75D18D;
    --color6: black;
    --color7: white;

    /*Fonts*/
    --font1: 'Bodoni Moda', serif;
    --font2: 'Courier Prime', monospace;
}