ul.homeBar{
    background-color: #73807E;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    width: 100%;
}

ul li {
    display: inline-block;
    background-color: #B8CCC9;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    margin: 0px 10px;
}

ul li:hover{
    background-color: white;
    transition: 1s;
}

ul li a {
    text-decoration: none;
}