<footer id="footer">
    <address>
        <div class="heartquark">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.547317888461!2d-46.3896321!3d-23.548778700000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce651a9d805b37%3A0x39a000d79327ce8c!2sR.%20Iljima%2C%201609%20-%20Vila%20do%20Americano%2C%20Ferraz%20de%20Vasconcelos%20-%20SP%2C%2008534-000!5e0!3m2!1spt-BR!2sbr!4v1689029197940!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="contacts">
            <h2><a href="#">CONTATOS</a></h2>
            <ul>
                <li><p>Celular: (11) 94686-7628</p>
                <li><p>Telefone: (11) 6301-0873</p>
                <li><p>E-mail: <a href="mailto:guilhermepessa@gmail.com?subject=Sugestão/Reclamação">contato@boutiquepag.com.br</a></p>
            </ul>

            <h2><a href="#">REDES SOCIAIS</a></h2>
            <ul class="social-media">
                <li><a href="https://api.whatsapp.com/send?phone=5511946867628" target="_blank"><img src="/assets/images/social-media/whatsapp.png" rel="external" alt="whatsapp"></a>
                <li><a href="#" target="_blank"><img src="/assets/images/social-media/facebook.png" rel="external" alt="facebook"></a>
                <li><a href="#" target="_blank"><img src="/assets/images/social-media/instagram.png" rel="external" alt="instagram"></a>
                <li><a href="#" target="_blank"><img src="/assets/images/social-media/tiktok.png" rel="external" alt="tiktok"></a>
            </ul>
        </div>
        <div class="institutional">
            <h2><a href="#">INSTITUCIONAL</a></h2>
            <ul>
                <li><p>Sobre a Boutique Pag</p>
                <li><p>Departamentos</p>
                <li><p>Investidores</p>
                <li><p>Política de Privacidade</p>
                <li><p>Fornecedores</p>
                <li><p>Canal de Denúncias</p>
                <li><p>Fale com a gente</p>
                <li><p>Formas de Pagamento</p>
                <li><p>Troca e Devoluções</p>
                <li><p>Prazo de Entrega</p>
                <li><p>Sugestões e/ou Reclamações</p>
            </ul>
        </div>
    </address>
    <div class="createBy">
        <ul>
            <li><a href="https://www.linkedin.com/in/guilherme-santana-pessa-5a6a72170/" rel="external" target="_blank"><img src="/assets/images/social-media/linkedin.png" alt="linkedin"></a></li>
            <li><a href="https://github.com/GuiArmanLi" rel="external" target="_blank"><img src="/assets/images/social-media/github.png" alt="github"></a></li>
            
        </ul>
        <p>Desenvolvido por <br><a href="#">Guilherme Pessa</a></p>
    </div>
</footer>