<header>
    <div>
        <h1>Welcome to the <br><span class="title">Green Place</span>!</h1>
    </div>
    <div>
        <ul>
            <li><a href="https://www.instagram.com/guiarmanli/" target="_blank"><img src="image/instagram-image.png"></a>
            <li><a href="https://github.com/GuiArmanLi" target="_blank"><img src="image/github-image.jpg"></a>
        </ul>
    </div>

    <nav>
        <ul>
            <li><a routerLink="http://localhost:4200/">HOME</a></li>
            <span class="options">
                <li><a routerLink="list-products">LIST PRODUCTS</a></li>
            </span>
            <li><a routerLink="http://localhost:4200/personal-page">HIRE ME</a></li>
            <li><a routerLink="http://localhost:4200/contact-us">ABOUT US</a></li>
        </ul>
    </nav>
</header>